.error {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}
.pengurus {
    padding: 15px 0;
}
.img-pengurus {
    height: 90px!important;
    height: auto;
}
.img-slide {
    height: 90px!important;
    width: 200px;
}
.tambah {
    padding: 15px 25px;
}
.btn-profil {
    text-align: right;
    padding: 29px 0;
}
.bg-aqua {
    background-color: #00c0ef !important;
    color: #fff !important;
}
.bg-green {
    background-color: #00a65a !important;
    color: #fff !important;
}
.bg-yellow {
    background-color: #f39c12 !important;
    color: #fff !important;
}
.bg-red {
    background-color: #dd4b39 !important;
    color: #fff !important;
}
.bg-smp {
    background-color: #152A55 !important;
    color: #fff !important;
}
.bg-smu {
    background-color: #4D698A !important;
    color: #fff !important;
}
.bg-s1 {
    background-color: #8892C9 !important;
    color: #fff !important;
}
.vs {
    margin-top: 35px;
}
.status {
    padding: 3px 15px!important;
    border-radius: 11px;
}